<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ysd.humanresource.dao.PositionMapper">
	<select id="selectPosByDepId" parameterType="position" resultType="position">
		select po.pos_id,po.pos_name FROM position as po WHERE po.dep_id=#{dep_id}
	</select>
</mapper>