<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysd.humanresource.dao.SalaryStandardMapper">
    
    <insert id="insertSalaryStandard" parameterType="salaryStandard">
        insert into salarystandard(ss_name,ss_enactingPerson,ss_registrant,ss_registrationTime,ss_aduitStatus,ss_baseSalary,ss_trafficSubsidy,
                           ss_communicationSubsidy,ss_floatWages,ss_routine,ss_lunchAllowance,ss_vehicleSubsidy)
        values(#{ss_name},#{ss_enactingPerson},#{ss_registrant},now(),#{ss_aduitStatus},#{ss_baseSalary},#{ss_trafficSubsidy},#{ss_communicationSubsidy},
               #{ss_floatWages},#{ss_routine},#{ss_lunchAllowance},#{ss_vehicleSubsidy})
    </insert>
    
    <select id="selectCountBySalaryStandardName" parameterType="salaryStandard" resultType="_int">
        select count(1) from salarystandard where ss_name = #{ss_name}
    </select>
    
    <select id="selectAllUncheckSalaryStandard" parameterType="pagination" resultType="salaryStandard">
        select ss_id,ss_name,ss_enactingPerson,ss_registrant,ss_registrationTime,ss_aduitStatus,ss_baseSalary,ss_trafficSubsidy,ss_communicationSubsidy,ss_floatWages,ss_routine,ss_lunchAllowance,ss_vehicleSubsidy 
        from salarystandard
        <where>
            ss_aduitStatus = 0
            <if test="ss_name != '' and ss_name != null">
                and ss_name like "%"#{ss_name}"%"
            </if>
            <if test="ss_enactingPerson != '' and ss_enactingPerson != null">
                and ss_enactingPerson like "%"#{ss_enactingPerson}"%"
            </if>
            <if test="ss_registrant != '' and ss_registrant != null">
                and ss_registrant like "%"#{ss_registrant}"%"
            </if>
            <if test="ss_registrationTimeStart != '' and ss_registrationTimeStart != null">
                and ss_registrationTime &gt;= #{ss_registrationTimeStart}
            </if>
            <if test="ss_registrationTimeEnd != '' and ss_registrationTimeEnd != null">
                and ss_registrationTime &lt;= #{ss_registrationTimeEnd}
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>
    
    <select id="selectAllUncheckSalaryStandardCount" parameterType="pagination" resultType="_int">
        select count(1)
        from salarystandard
        <where>
            ss_aduitStatus = 0
            <if test="ss_name != '' and ss_name != null">
                and ss_name like "%"#{ss_name}"%"
            </if>
            <if test="ss_enactingPerson != '' and ss_enactingPerson != null">
                and ss_enactingPerson like "%"#{ss_enactingPerson}"%"
            </if>
            <if test="ss_registrant != '' and ss_registrant != null">
                and ss_registrant like "%"#{ss_registrant}"%"
            </if>
            <if test="ss_registrationTimeStart != '' and ss_registrationTimeStart != null">
                and ss_registrationTime &gt;= #{ss_registrationTimeStart}
            </if>
            <if test="ss_registrationTimeEnd != '' and ss_registrationTimeEnd != null">
                and ss_registrationTime &lt;= #{ss_registrationTimeEnd}
            </if>
        </where>
    </select>
    
    <select id="selectCountBySalaryStandardNameAndId" parameterType="salaryStandard" resultType="_int">
        select count(1) from salarystandard where ss_name = #{ss_name} and ss_id != #{ss_id}
    </select>
    
    <update id="updateSalaryStandardById" parameterType="salaryStandard">
        update salarystandard set ss_name = #{ss_name},ss_enactingPerson = #{ss_enactingPerson},ss_registrant = #{ss_registrant},
        ss_reviewer = #{ss_reviewer},ss_aduitOpinion = #{ss_aduitOpinion},ss_reviewTime = now(),ss_aduitStatus = #{ss_aduitStatus},
        ss_baseSalary = #{ss_baseSalary},ss_communicationSubsidy = #{ss_communicationSubsidy},ss_floatWages = #{ss_floatWages},ss_routine = #{ss_routine},
        ss_lunchAllowance = #{ss_lunchAllowance},ss_trafficSubsidy = #{ss_trafficSubsidy},ss_vehicleSubsidy = #{ss_vehicleSubsidy}
        where ss_id = #{ss_id}
    </update>
    
    <select id="selectAllCheckedSalaryStandard" parameterType="pagination" resultType="salaryStandard">
        select ss_id,ss_name,ss_enactingPerson,ss_registrant,ss_registrationTime,ss_reviewer,ss_reviewTime,ss_aduitStatus,ss_aduitOpinion,ss_baseSalary,ss_trafficSubsidy,ss_communicationSubsidy,ss_floatWages,ss_routine,ss_lunchAllowance,ss_vehicleSubsidy 
        from salarystandard
        <where>
            ss_aduitStatus = 1
            <if test="ss_name != '' and ss_name != null">
                and ss_name like "%"#{ss_name}"%"
            </if>
            <if test="ss_enactingPerson != '' and ss_enactingPerson != null">
                and ss_enactingPerson like "%"#{ss_enactingPerson}"%"
            </if>
            <if test="ss_registrant != '' and ss_registrant != null">
                and ss_registrant like "%"#{ss_registrant}"%"
            </if>
            <if test="ss_reviewer != '' and ss_reviewer != null">
                and ss_reviewer like "%"#{ss_reviewer}"%"
            </if>
            <if test="ss_registrationTimeStart != '' and ss_registrationTimeStart != null">
                and ss_registrationTime &gt;= #{ss_registrationTimeStart}
            </if>
            <if test="ss_registrationTimeEnd != '' and ss_registrationTimeEnd != null">
                and ss_registrationTime &lt;= #{ss_registrationTimeEnd}
            </if>
            <if test="ss_reviewTimeStart != '' and ss_reviewTimeStart != null">
                and ss_reviewTime &gt;= #{ss_reviewTimeStart}
            </if>
            <if test="ss_reviewTimeEnd != '' and ss_reviewTimeEnd != null">
                and ss_reviewTime &lt;= #{ss_reviewTimeEnd}
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>
    
    <select id="selectAllCheckedSalaryStandardCount" parameterType="pagination" resultType="_int">
        select count(1)
        from salarystandard
        <where>
            ss_aduitStatus = 0
            <if test="ss_name != '' and ss_name != null">
                and ss_name like "%"#{ss_name}"%"
            </if>
            <if test="ss_enactingPerson != '' and ss_enactingPerson != null">
                and ss_enactingPerson like "%"#{ss_enactingPerson}"%"
            </if>
            <if test="ss_registrant != '' and ss_registrant != null">
                and ss_registrant like "%"#{ss_registrant}"%"
            </if>
            <if test="ss_reviewer != '' and ss_reviewer != null">
                and ss_reviewer like "%"#{ss_reviewer}"%"
            </if>
            <if test="ss_registrationTimeStart != '' and ss_registrationTimeStart != null">
                and ss_registrationTime &gt;= #{ss_registrationTimeStart}
            </if>
            <if test="ss_registrationTimeEnd != '' and ss_registrationTimeEnd != null">
                and ss_registrationTime &lt;= #{ss_registrationTimeEnd}
            </if>
            <if test="ss_reviewTimeStart != '' and ss_reviewTimeStart != null">
                and ss_reviewTime &gt;= #{ss_reviewTimeStart}
            </if>
            <if test="ss_reviewTimeEnd != '' and ss_reviewTimeEnd != null">
                and ss_reviewTime &lt;= #{ss_reviewTimeEnd}
            </if>
        </where>
    </select>
    
</mapper>