<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysd.humanresource.dao.TransferrecordMapper">
	<resultMap type="transFerrecord" id="transFerrecordMap">
		<id column="tf_id" property="tf_id"/>
		<result column="tf_fileNumber" property="tf_fileNumber"/>
		<result column="tf_originalDepartment" property="tf_originalDepartment"/>
		<result column="tf_originalPosition" property="tf_originalPosition"/>
		<result column="tf_originalSalaryStandard" property="tf_originalSalaryStandard"/>
		<result column="tf_newDepartment" property="tf_newDepartment"/>
		<result column="tf_newPosition" property="tf_newPosition"/>
		<result column="tf_newSalaryStandard" property="tf_newSalaryStandard"/>
		<result column="tf_registrant" property="tf_registrant"/>
		<result column="tf_registrationTime" property="tf_registrationTime"/>
		<result column="tf_mobilizingReason" property="tf_mobilizingReason"/>
		<result column="tf_auditor" property="tf_auditor"/>
		<result column="tf_auditTime" property="tf_auditTime"/>
		<result column="tf_auditOpinion" property="tf_auditOpinion"/>
		<result column="tf_auditStatus" property="tf_auditStatus"/>
		<association property="employee" javaType="employee">
			<id column="emp_id" property="emp_id"/>
			<result column="emp_fileNumber" property="emp_fileNumber"/>
			<result column="emp_name" property="emp_name"/>
			<result column="emp_sex" property="emp_sex"/>
			<result column="emp_picture" property="emp_picture"/>
			<result column="emp_email" property="emp_email"/>
			<result column="emp_telPhone" property="emp_telPhone"/>
			<result column="emp_address" property="emp_address"/>
			<result column="emp_postalCode" property="emp_postalCode"/>
			<result column="emp_nationality" property="emp_nationality"/>
			<result column="emp_birthAddress" property="emp_birthAddress"/>
			<result column="emp_age" property="emp_age"/>
			<result column="emp_birthday" property="emp_birthday"/>
			<result column="emp_nation" property="emp_nation"/>
			<result column="emp_faith" property="emp_faith"/>
			<result column="emp_politicalOutlook" property="emp_politicalOutlook"/>
			<result column="emp_IDnumber" property="emp_IDnumber"/>
			<result column="emp_socialSecurityNumber" property="emp_socialSecurityNumber"/>
			<result column="emp_graduateSchool" property="emp_graduateSchool"/>
			<result column="emp_qualifications" property="emp_qualifications"/>
			<result column="emp_yearsOfEducation" property="emp_yearsOfEducation"/>
			<result column="emp_major" property="emp_major"/>
			<result column="emp_openingBank" property="emp_openingBank"/>
			<result column="emp_bankAccount" property="emp_bankAccount"/>
			<result column="emp_registrantTime" property="emp_registrantTime"/>
			<result column="emp_speciality" property="emp_speciality"/>
			<result column="emp_hobby" property="emp_hobby"/>
			<result column="emp_personalResume" property="emp_personalResume"/>
			<result column="emp_familyRelationsInfo" property="emp_familyRelationsInfo"/>
			<result column="emp_registrant" property="emp_registrant"/>
			<result column="emp_remarks" property="emp_remarks"/>
			<association property="position" javaType="position" >
				<id column="pos_id" property="pos_id"/>
				<result column="pos_name" property="pos_name"/>
				<association property="department" javaType="department" >
					<id column="dep_id" property="dep_id"/>
					<result column="dep_name" property="dep_name"/>
					<result column="dep_lastPayday" property="dep_lastPayday"/>
					<result column="dep_salaryStatus" property="dep_salaryStatus"/>
				</association>
				<association property="salaryStandard" javaType="salaryStandard" >
					<id column="ss_id" property="ss_id"/>
					<result column="ss_name" property="ss_name"/>
					<result column="ss_enactingPerson" property="ss_enactingPerson"/>
					<result column="ss_registrant" property="ss_registrant"/>
					<result column="ss_registrationTime" property="ss_registrationTime"/>
					<result column="ss_reviewer" property="ss_reviewer"/>
					<result column="ss_reviewTime" property="ss_reviewTime"/>
					<result column="ss_aduitStatus" property="ss_aduitStatus"/>
					<result column="ss_aduitOpinion" property="ss_aduitOpinion"/>
					<result column="ss_baseSalary" property="ss_baseSalary"/>
					<result column="ss_trafficSubsidy" property="ss_trafficSubsidy"/>
					<result column="ss_communicationSubsidy" property="ss_communicationSubsidy"/>
					<result column="ss_floatWages" property="ss_floatWages"/>
					<result column="ss_routine" property="ss_routine"/>
					<result column="ss_lunchAllowance" property="ss_lunchAllowance"/>
					<result column="ss_vehicleSubsidy" property="ss_vehicleSubsidy"/>
				</association>
			</association>
		</association>
	</resultMap>
	
	<select id="selectTransFerrecordStatus" parameterType="transFerrecord" resultMap="transFerrecordMap">
		select tf.*,e.emp_name
		from transferrecord tf left join employee e 
		on tf.emp_id=e.emp_id
	</select>
	
	<update id="updateTransfer" parameterType="transFerrecord">
		update transferrecord tf 
			left join employee e 
			on tf.emp_id=e.emp_id 
			left join position p 
			on e.pos_id=p.pos_id 
			left join department d
			on p.dep_id=d.dep_id 
			left join salarystandard ss 
			on p.ss_id=ss.ss_id 
			set
				<if test="dep_name != ''  and dep_name != null">
					d.dep_name=#{tf_newDepartment},
				</if>
				<if test="pos_name != ''  and pos_name != null">
					p.pos_name=#{tf_newPosition},
				</if>
				<if test="ss_name != ''  and ss_name != null">
					ss.ss_name=#{tf_newSalaryStandard},
				</if>
				<if test="tf_auditStatus !=null">
					tf.tf_auditStatus=#{tf_auditStatus},
				</if>
				tf.tf_auditor=#{tf_auditor},
				tf.tf_auditOpinion=#{tf_auditOpinion}
				
			<where>
				tf.tf_fileNumber=#{tf_fileNumber}
			</where>
	</update>
</mapper>








